

.lnave ul li{
  display: inline-flex;
  margin-right: 20px;
  text-decoration: none;
  list-style-type: none;
  background-color: chocolate;
  padding: 8px 15px;
  box-shadow: 0 0 3px 3px gray;
  font-size: larger;
}
.lnave ul li:hover{
font-size: medium;
}
.lnave{
  width: fit-content;
  margin: 20px auto;
}
.lnave li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}